.item {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
}

.item__container {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item__text {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.item__text h1 {
  font-size: 34px;
  color: #171a20;
}

.item__text p {
  font-weight: 200;
  font-size: 14px;
}

.item__lowerThird {
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
}

.item__buttons {
  display: flex;
}

.item__expand {
  display: flex;
  color: #393c41;
  margin-top: 3%;
  justify-content: center;
}

.item__expand-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .item__text {
    margin-top: 15rem;
  }

  .item__text h1 {
    font-size: 32px;
  }

  .item__text p {
    font-size: 16px;
    text-align: center;
  }

  .item__buttons {
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 450px) {
  .item {
    background-size: cover;
    height: 75vh;
  }

  .item__container {
    width: 80vw;
  }

  .item__text {
    margin-top: 7rem;
  }

  .item__text h1 {
    font-size: 32px;
  }

  .item__text p {
    font-size: 16px;
    text-align: center;
  }

  .item__buttons {
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
